<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<!--<appSettings>
		<add key="Chineye" value="Data Source=DESKTOP-HOHAL5K; Initial Catalog=Registration_db;Persist Security Info=true;Integrated Security=true" />
	</appSettings>-->

  <connectionStrings>
	  <add name="Chineye" connectionString="Data Source=.;Initial Catalog=Registration_db;Persist Security Info=true;integrated security=true User Id=sa;" providerName="System.Data.SqlClient"/>
	  <add name="RegistrationForm.Properties.Settings.Registration_dbConnectionString" connectionString="Data Source=DESKTOP-HOHAL5K;Initial Catalog=&quot;Registration db&quot;;Integrated Security=True" providerName="System.Data.SqlClient" /><add name="Registration_dbEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string='data source=DESKTOP-HOHAL5K;initial catalog=&quot;Registration db&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" /><add name="Registration_dbEntities1" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string='data source=DESKTOP-HOHAL5K;initial catalog=&quot;Registration db&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
  </connectionStrings>
	
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>